Hostname: {{ inventory_hostname }}
Distribution: {{ ansible_distribution }}
Major Version: {{ ansible_distribution_major_version }}
Distribution Release: {{ ansible_distribution_release }}
Distribution Version: {{ ansible_distribution_version }}
Date: {{ ansible_date_time.date }}

